<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
	<link rel="stylesheet" type="text/css" href="../../static/css/icons.min.css"  th:href="@{/css/icons.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/custom.css"  th:href="@{/css/custom.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/fans/subTag-select.css"  th:href="@{/css/fans/subTag-select.css}"/>
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"  th:src="@{/easyui/jquery.min.js}"></script>
	<script type="application/javascript" src="../../static/js/humane.min.js"  th:src="@{/js/humane.min.js}"></script>
	<script type="application/javascript" src="../../static/js/quote/carType-select.js"  th:src="@{/js/quote/carType-select.js}"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="../../static/js/weixin-qy-sdk.js" th:src="@{/js/weixin-qy-sdk.js}"></script>
<title>情报分析</title>
</head>
<body >
<div class="title">选择车系</div>
<!--<div class="select-div" id="taggroup">	<span  th:each="tag:${selectTags}" ><span class="tagSpan" th:text="${tag.name}"></span></span></div>-->
<input type="hidden"  th:value="${brand.name}" id="brandName"/>
<input type="hidden"  th:value="${brand.id}" id="brandId"/>
<div  id="context" class="group-context" style="margin-top: 20px">
		<div class="group">
		<div  th:each="carType:${carTypes}" >
			<div class="item"  th:value="${carType.state}"  th:id="${carType.id}">
				<div th:text="${carType.name}"></div>
				<div class="icon-select"   ><span th:if="${carType.state eq 'select'}"><img th:src="@{/img/select_confirm.png}" class="img-icon"/></span></div>
			</div>
			<div class="line"></div>
		</div>
		</div>
</div>
<div class="save-btn-green" onclick="getSelectValues()">确定</div>
<div class="save-btn-green" onclick="history.go(-1)">添加其他品牌车系</div>
</body>
</html>
