<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style"
		  content="black-translucent"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="stylesheet" type="text/css" href="../../static/css/fans/subTag-select.css"  th:href="@{/css/fans/subTag-select.css}"/>
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"  th:src="@{/easyui/jquery.min.js}"></script>
	<script type="application/javascript" src="../../static/js/quote/province-select.js"  th:src="@{/js/quote/city-select.js}"></script>
	<title>地区</title>
</head>
<body >
<div class="title">选择地区</div>
<input type="hidden" th:value="${type}" id="cityType"/>
<div class="context">
	<div class="item-all"  id="all_city">
		<div >全省</div>
		<!--<div  class="jump-icon">选择&nbsp;<span class="icon-rec-jump" ></span></div>-->
	</div>
	<div class="line"></div>
	<div  th:each="region:${regions}" >
		<div class="item" th:id="${region.id}"  >
			<div th:text="${region.fullname}"></div>
			<input type="hidden" th:value="${region.regionCode}"/>
			<div class="icon-select"  style="display: none;" ><img th:src="@{/img/select_confirm.png}" style="width:15px;height:15px;"/></div>
		</div>
		<div class="line"></div>
	</div>
</div>
</body>
</html>
