<!DOCTYPE html >
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<title>微手指</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/icons.min.css"  th:href="@{/css/icons.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/custom.css"  th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/quote/quoteHome.css"  th:href="@{/css/quote/quoteHome.css}" />
    <script type="application/javascript" src="../../static/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../../static/js/weixin-qy-sdk.js" th:src="@{/js/weixin-qy-sdk.js}"></script>
    <script type="application/javascript" src="../../static/js/humane.min.js"  th:src="@{/js/humane.min.js}"></script>

</head>
<body >
<div class="head-div">
    <div class="head-title" id="storeName"></div>
    <div class="head-addr" id="storeAddr"></div>
</div>
<div class="price-table-title">本店报价水平</div>
    <table class="price-table">
        <tr>
            <td style="width: 20%"></td>
            <td  style="width: 40%">本店报价最低的车系车型</td>
            <td  style="width: 40%">本店报价最高的车系车型</td>
        </tr>
        <tr>
            <td>全市</td>
            <td id="cityMinNum"></td>
            <td id="cityMaxNum"></td>
        </tr>
        <tr>
            <td>全省</td>
            <td  id="provinceMinNum"></td>
            <td id="provinceMaxNum"></td>
        </tr>
        <tr>
            <td>全国</td>
            <td  id="countryMinNum"></td>
            <td  id="countryMaxNum"></td>
        </tr>
    </table>

<div class="context">
    <div class="item" onclick="jumpChoosePg('selfArea')">
        <div>本品所属地区</div>
        <div class="item-show" id="selfArea"></div>
        <div>&nbsp;<span class="icon-rec-jump" ></span></div>
    </div>
    <div class="line"></div>
    <div class="item" onclick="jumpChoosePg('compBrand')">
        <div>竞品车系</div>
        <div class="item-show" id="compBrand"></div>
        <div>&nbsp;<span class="icon-rec-jump" ></span></div>
    </div>
    <div class="line"></div>
    <div class="item" onclick="jumpChoosePg('compArea')">
        <div>竞品所在地区</div>
        <div class="item-show" id="compArea"></div>
        <div>&nbsp;<span class="icon-rec-jump" ></span></div>
    </div>

</div>

<div class="save-btn" onclick="queryReport()" style="margin-bottom: 20px;">查询</div>
<div class="qrcode_div"><img th:src="@{/img/qrcode_tip.png}" class="qrcode_img"/></div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var userId = [[${userId}]];
    var memberId = [[${memberId}]];
    /*]]>*/
    sessionStorage.userId=userId;
    sessionStorage.memberId=memberId;
    </script>
<script type="text/javascript" src="../../static/js/quote/quoteHome.js"  th:src="@{/js/quote/quoteHome.js}"></script>
</html>

