<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>


    <script type="text/javascript">
        window.logs = {
            pagetime: {}
        };
        window.logs.pagetime['html_begin'] = (+new Date());
    </script>

    <link rel="dns-prefetch" href="//res.wx.qq.com"/>
    <link rel="dns-prefetch" href="//mmbiz.qpic.cn"/>
    <link rel="shortcut icon" type="image/x-icon"
          href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/common/favicon22c41b.ico"/>


    <title th:text="|${queryInfo.storeName}：如何从报价上抢占客户|">门店：如何从报价上抢占客户</title>

    <link rel="stylesheet" type="text/css"
          href="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve2c9cd6.css"/>
    <style>
        table td {
            border: 0px;
        }

        .bottom-row {
            border-bottom: 1px solid;
        }

        .top-row {
            font-weight: bold;
        }
    </style>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css"
          href="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2c9cd6.css"/>
    <![endif]-->
    <!--<script type="text/javascript">-->
        <!--document.domain = "qq.com";-->
    <!--</script>-->

    <link rel="stylesheet" type="text/css"
          href="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/not_in_mm2c9cd6.css"/>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg not_in_mm" ontouchstart="">

<script type="text/javascript">
    var write_sceen_time = (+new Date());
</script>


<div id="js_article" class="rich_media">


    <div class="rich_media_inner">
        <div id="page-content">
            <div id="img-content" class="rich_media_area_primary">
                <h2 class="rich_media_title" id="activity-name" th:text="|${queryInfo.storeName}：如何从报价上抢占客户|">
                    全国4S店报价情报
                </h2>

                <div class="rich_media_content " id="js_content">

                    <p style="text-align: left; text-indent: 2em;"><span
                        style="font-family: 微软雅黑, sans-serif; text-indent: 32px; line-height: 1.6;">微车平台聚集了全国各家4S店、所有车型最新报价，每周为你定制推送第一手价格情报。<strong>关注公众号订阅</strong>，可查看到友商4S店或竞品所有车型报价信息。<strong>知己知彼，百战不殆。</strong>点击<strong>公众号菜单</strong>“我的——Hi，约吗”留下通关暗号，你将获得汽车行业独家制胜秘籍，数量有限，先到先得。</span>
                </p>
                    <p style="text-align: center;"><span
                            style="border-color: rgb(216, 40, 33); color: rgb(216, 40, 33); font-size: 4em; font-weight: bolder; line-height: 1em; vertical-align: middle;">“</span><span
                            style="color: inherit; line-height: 1.2em; vertical-align: middle; font-size: 24px;"><strong><span
                            style="color: inherit; line-height: 1.2em; vertical-align: middle; font-family: 微软雅黑, sans-serif;">竞品降价榜</span></strong></span><span
                            class="135brush" data-brushtype="text"
                            style="border-color: rgb(216, 40, 33); color: rgb(216, 40, 33); font-size: 2em; line-height: 1.2em; vertical-align: middle;"></span><span
                            style="border-color: rgb(216, 40, 33); color: rgb(216, 40, 33); font-size: 4em; font-weight: bolder; line-height: 1em; vertical-align: middle;">”</span>&nbsp;<span
                            style="font-family: 微软雅黑, sans-serif; line-height: 1.6; text-indent: 32px;">&nbsp;</span>
                    </p>

                    <!--top1-->
                    <!--<p style="text-align: center;">-->
                    <table>
                        <tr th:each="competeBrand,status:${competeBrands}">
                        <tr class="top-row">
                            <td colspan="3" th:text="|No.${status.count} ${competeBrand.brand} ${competeBrand.series} ${competeBrand.model}|">No.大众大红大众大红大众大红 大众大红大众大红大众大红大众大红大众大红大众大红大众大红大众</td>
                        </tr>
                        <tr class="bottom-row">
                            <td th:text="|${competeBrand.storeNum}家4s店报价最低|">4加4s店报价最低</td>
                            <td th:text="|${competeBrand.priceStore}/${competeBrand.priceVendor}|">8.11/12.5</td>
                            <td th:text="|↓${competeBrand.priCon}|">35%</td>
                        </tr>
                        </tr>

                    </table>

                    <section class="135editor" style="   box-sizing: border-box; border: 0px none; " data-id="84261">
                        <section class="135editor" style="   box-sizing: border-box; border: 0px none; " data-id="44"
                                 data-color="rgb(55, 74, 174)" data-custom="rgb(55, 74, 174)"><p
                                style="white-space: normal; text-align: center;"><span
                                style="border-color: rgb(55, 74, 174); color: rgb(55, 74, 174); font-size: 4em; font-weight: bolder; line-height: 1em; vertical-align: middle;">“</span><span
                                style="color: inherit; line-height: 1.2em; vertical-align: middle; font-size: 24px;"><strong><span
                                style="color: inherit; line-height: 1.2em; vertical-align: middle; font-family: 微软雅黑, sans-serif;">本品降价榜</span></strong></span><span
                                class="135brush" data-brushtype="text"
                                style="border-color: rgb(55, 74, 174); color: rgb(55, 74, 174); font-size: 2em; line-height: 1.2em; vertical-align: middle;"></span><span
                                style="border-color: rgb(55, 74, 174); color: rgb(55, 74, 174); font-size: 4em; font-weight: bolder; line-height: 1em; vertical-align: middle;">”</span>
                        </p></section>
                    </section>
                    <!--top2-->
                    <table>
                        <tr th:each="selfBrand,status:${selfBrands}">
                        <tr class="top-row">
                            <td colspan="3" th:text="|No.${status.count} ${selfBrand.series} ${selfBrand.model}|">No.大众大红大众大红大众大红 大众大红大众大红大众大红大众大红大众大红大众大红大众大红大众</td>
                        </tr>
                        <tr class="bottom-row">
                            <td th:text="|${selfBrand.storeNum}家4s店报价最低|">4加4s店报价最低</td>
                            <td th:text="|${selfBrand.priceStore}/${selfBrand.priceVendor}|">8.11/12.5</td>
                            <td th:text="|↓${selfBrand.priCon}|">35%</td>
                        </tr>
                        </tr>

                    </table>

                    <!--</br>-->
                    <!--<p></p>-->
                    <section class="135editor" style="   box-sizing: border-box; border: 0px none; " data-id="32">
                        <blockquote
                                style="margin: 3px; padding: 10px 15px; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-color: rgb(107, 77, 64); border-top-left-radius: 50px; border-bottom-right-radius: 50px; box-shadow: rgb(165, 165, 165) 5px 5px 2px; box-sizing: border-box; background-color: rgb(250, 250, 250);">
                            <section class="135brush"
                                     data-style="margin-top: 15px; margin-bottom: 0px; padding: 0px; color: rgb(107, 77, 64); line-height: 2em; font-size: 20px; border-color: rgb(107, 77, 64);font-size: 18px;font-weight:bold;"
                                     style="box-sizing: border-box;"><p
                                    style="margin-top: 15px; color: rgb(107, 77, 64); line-height: 2em; border-color: rgb(107, 77, 64); white-space: normal;">
                                <span style="font-size: 18px;"><strong>特别提醒</strong></span></p></section>
                            <p style="margin-top: -10px; line-height: 2em; min-height: 1.5em; color: inherit; white-space: normal;">
                                <span style="font-size:12px"><strong class="135brush" data-brushtype="text"
                                                                     style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; color: rgb(224, 209, 202); font-size: 13px; padding-right: 15px; padding-left: 15px; background-color: rgb(107, 77, 64);">weiche</strong></span>
                            </p>
                            <section class="135brush"
                                     data-style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 2em; font-size: 14px; min-height: 1.5em; color: inherit;"
                                     style="box-sizing: border-box;"><p style="white-space: normal;"><span
                                    style="font-size:14px"></span></p>
                                <p style="line-height: 25.6px; text-align: center; white-space: normal;"><span
                                        style="font-family: 微软雅黑, sans-serif; font-size: 18px;">想查看其它地区品牌的报价，返回设置</span>
                                </p>
                                <p style="line-height: 25.6px; text-align: center; white-space: normal;"><span
                                        style="text-decoration: underline; color: rgb(255, 76, 65);"><strong><a href="index" th:href="@{/quote/index}"
                                        style="text-decoration: underline; font-family: 微软雅黑, sans-serif; font-size: 18px;">返回选择地区和品牌</a></strong></span>
                                </p>
                                <p style="line-height: 2em; min-height: 1.5em; color: inherit; white-space: normal;">
                                    </p></section>
                        </blockquote>
                        <section style="width: 0px; height: 0px; clear: both; box-sizing: border-box;"></section>
                    </section>

                    <p id="qr_code_img" style="white-space: normal; text-align: center;"><img data-s="300,640"
                                                                                              data-type="jpeg"
                                                                                              data-src="http://mmbiz.qpic.cn/mmbiz/icicFsVISLZ2YBhCOcTUU6yboLSLJj5ZicbxqjKjG6lnZT34xM2zNu8Z81ZpoP1xTfhSIlZKmnp740sy7Q1ExJDEw/0?wx_fmt=jpeg"
                                                                                              data-ratio="1.4193548387096775"
                                                                                              data-w="465"
                                                                                              src="../../static/img/hint3.png"
                                                                                              th:src="@{/img/hint3.png}"
                                                                                              style="width: 465px !important; visibility: visible !important; height: 660px !important;"/>
                    </p>
                    <p><span style="font-size:12px;font-family:微软雅黑,sans-serif"></span></p>
                </div>

                <link rel="stylesheet" type="text/css"
                      href="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_combo2c9cd6.css"/>

                    </div>

        </div>
        <div id="js_pc_qr_code" class="qr_code_pc_outer" style="display: block;">
            <div class="qr_code_pc_inner">
                <div class="qr_code_pc">
                    <img id="js_pc_qr_code_img" class="qr_code_pc_img"
                         src="../../static/img/qrcode.png" th:src="@{/img/qrcode.png}"/>
                    <p>微信扫一扫</p>
                    <p>关注该公众号</p>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../../static/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script src="../../static/js/weixin-qy-sdk.js" th:src="@{/js/weixin-qy-sdk.js}"></script>
<script src="../../static/js/quote/report.js" th:src="@{/js/quote/report.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var context = [[@{/}]];
    var shareLink = [[@{/auth/check?scope=snsapi_base&target_uri=quote%2findex&redirect}]];
    var storeName = [[${queryInfo.storeName}]];
    /*]]>*/

    $(function(){
        var shareData = {
            title : storeName+'：如何从报价上抢占客户',
            desc : '直击客户心坎的报价技巧，看完这篇就够了',
            link : shareLink,
            img_url : context + '/img/share.jpg'
          };
        weixin.showOptionMenu();
        weixin.onMenuShareAppMessage(shareData);
        weixin.onMenuShareTimeline(shareData);
    });

</script>
</body>
</html>