.item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
    position: relative;
    padding:15px 10px;
    font-size:18px;
    background: #ffffff;
}
body{
    color:#4d4d4d;
    background:#ebebed;
}
select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    line-height: 16px;
    font-size: 18px;
}

hr {
    border-color: #f1f0f6;
    border-top: 1px;
}

.right_div {
    text-align: right;
}
.myInfo{
    background:#ebebed;
    font-size:18px;
    padding:10px;;

}
.save-btn{
    background:#4570e6;
    color:#ffffff;
    font-size:18px;
    padding:20px;
    text-align:center;

}
input{
    font-size:18px;
    text-align:right;
    border-width: 0;
    background-color: transparent;
}
.select-placeholder{
    color:#a1a1a1;
}
.select-show{
    color:#4d4d4d;
}
.item-area{
    text-align: right;
    color:#a1a1a1;
}
.hidden-area{
    display: none;
}
.show-area{
    display: block;
}
.line{
    height:1px;
    background:#c2c2c2;
    margin-left: 10px;
}
.container{
    background: #ffffff;
}