body{
    background: #ebebed;
    font-size: 18px;
    color:#4d4d4d;
    margin: 0px
}
.title{
    background:#ebebed;
    font-size:18px;
    padding:10px;;
}
.context{
    background: #ffffff;
    border-top: 1px solid #c2c2c2;

}
.head-item{
    line-height:50px;
}
.item{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
    padding:15px 10px 15px 20px ;
}
.tagSpan{
    background:#d7e0f7;
    margin-right:20px;
    border-radius:3px;
    border: 1px solid #597fe9;
    padding:5px;
}
.icon-select{
    -webkit-flex:1;
    flex:1;
    text-align:right;
    color:#4570e6;
}
.line{
    height:1px;
    background:#c2c2c2;
    margin-left:20px;
}
.save-btn{
    background:#4570e6;
    color:#ffffff;
    font-size:18px;
    padding:15px;
    text-align:center;
    letter-spacing: 10px;
}
.jump-icon{
    text-align: right;
    color:#a1a1a1;
}
.img-icon{
    width: 15px;
    height: 15px;
}