body{
    background: #ebebed;
    font-size: 18px;
    color:#2b2b2b;
}
.head{
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
    padding:18px;
    font-size:18px;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}

.head-img{
    width: 100px;
    height:100px;
}
.head-right{
    -webkit-flex:1;
    flex:1;
    text-align:left;
    margin-left:20px;

}
.head-left{
    width: 100px;
    height: 100px;
    border-radius:5px;
    border: 1px solid #c2c2c2;
}
.context{
    background: #ffffff;
    border-top: 1px solid #c2c2c2;
    margin-top:80px;
}
.head-item{
    line-height:50px;
}
.item{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-pack: justify;
    padding:20px;
}
.tagSpan{
    background:#d7e0f7;
    margin-right:10px;
    border-radius:3px;
    border: 1px solid #597fe9;
    padding:3px 5px;
    font-size: 16px;
}
.item-show{
    -webkit-flex:1;
    flex:1;
    text-align:right;
}
.line{
    height:1px;
    background:#c2c2c2;
    margin-left:25px;
}
.save-btn{
    background:#4570e6;
    color:#ffffff;
    font-size:18px;
    padding:25px;
    text-align:center;
    letter-spacing: 10px;
}