<!DOCTYPE html >
<html>
<title>兴趣点管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>兴趣点管理</title>
<link rel="stylesheet" type="text/css"
	href="/easyui/themes/default/easyui.css" th:href="@{/easyui/themes/default/easyui.css}"/>
<link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}"/>
<link rel="stylesheet" type="text/css" href="../easyui/themes/color.css" th:href="@{/easyui/themes/color.css}"/>
<script type="text/javascript" src="../easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="../easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="../easyui/easyui-lang-zh_CN.js" th:src="@{/easyui/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/js/tag/tag.js}"></script>
<style type="text/css">
.queryDiv {
	margin: 10px;
}
.querySpan {
	margin-right: 20px;
}
</style>
</head>
<body>
	<div class="easyui-layout" fit="true">
		<div data-options="region:'south',split:true" style="height: 50px;"></div>
		<div data-options="region:'center'">
			<table id="tagTable" title="文章" class="easyui-datagrid"
				url="get_users.php" toolbar="#toolbar" pagination="true"
				rownumbers="true" fitColumns="true" singleSelect="true" fit="true"
				data-options="onClickCell:onClickCell">
				<thead>
					<tr>
						<th field="tagName" width="50">名称</th>
						<th field="categoryName" width="50">类别</th>
						<th
							data-options="field:'update',width:55,align:'center',formatter:fmtUpdateIcon">编辑</th>
						<th
							data-options="field:'delete',width:55,align:'center',formatter:fmtDelIcon">删除</th>

					</tr>
				</thead>
			</table>
			<div id="toolbar">
				<div class="queryDiv">
					<span class="querySpan"> <input name="queryTagName"
						class="easyui-textbox" data-options="prompt:'标签名称'"/></span> <span
						class="querySpan"> <select id="queryTagCategory"
						class="easyui-combobox" style="width: 200px;">
							<option value="品牌">品牌</option>
							<option value="地区">地区</option>
					</select></span> <a href="#" class="easyui-linkbutton"
						data-options="iconCls:'icon-search'">查询</a>
				</div>
				<div class="queryDiv">
					<a href="javascript:void(0)" class="easyui-linkbutton"
						iconCls="icon-add" plain="true" onclick="showDeatilDlg()">新增兴趣点</a>
					<a href="javascript:void(0)" class="easyui-linkbutton"
						iconCls="icon-edit" plain="true" onclick="showCtyDlg()">新增类型</a>
				</div>
			</div>
			<div id="dlg" class="easyui-dialog"
				style="width: 400px; height: 180px; padding: 10px 20px"
				closed="true" buttons="#dlg-buttons">
				<input id="rowIndex" type="hidden"/>
				<table style="width: 100%">
					<tr>
						<td style="width: 30%; text-align: center; padding: 10px;">
							名称:</td>
						<td style="width: 70%; text-align: center"><input
							id="tagName" class="easyui-textbox" style="width: 200px;"/></td>
					</tr>
					<tr>
						<td style="width: 30%; text-align: center">类型:</td>
						<td style="width: 70%; text-align: center"><select
							id="tagCategory" class="easyui-combobox" style="width: 200px;">
								<option value="品牌">品牌</option>
								<option value="地区">地区</option>
						</select></td>
					</tr>

				</table>
			</div>
			<div id="category-dlg" class="easyui-dialog"
				style="width: 400px; height: 150px; padding: 10px 20px"
				closed="true" buttons="#cty-dlg-buttons">
				<input id="rowIndex" type="hidden"/>
				<table style="width: 100%">
					<tr>
						<td style="width: 30%; text-align: center; padding: 10px;">
							名称:</td>
						<td style="width: 70%; text-align: center"><input
							id="dlgCategoryName" class="easyui-textbox" style="width: 200px;"/></td>
					</tr>
				</table>
			</div>
			<div id="dlg-buttons">
				<a href="javascript:void(0)" class="easyui-linkbutton c6"
					iconCls="icon-ok" onclick="saveTag()" style="width: 90px">保存</a> <a
					href="javascript:void(0)" class="easyui-linkbutton"
					iconCls="icon-cancel"
					onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">取消</a>
			</div>
			<div id="cty-dlg-buttons">
				<a href="javascript:void(0)" class="easyui-linkbutton c6"
					iconCls="icon-ok" onclick="saveCategory()" style="width: 90px">保存</a>
				<a href="javascript:void(0)" class="easyui-linkbutton"
					iconCls="icon-cancel"
					onclick="javascript:$('#category-dlg').dialog('close')"
					style="width: 90px">取消</a>
			</div>

		</div>
	</div>
</body>

</html>