<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style"
		  content="black-translucent"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="stylesheet" type="text/css" href="../../static/fans/css/leaveInfo.css"  th:href="@{/css/fans/leaveInfo.css}"/>
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"  th:src="@{/easyui/jquery.min.js}"></script>
	<script type="application/javascript" src="../../static/js/fans/leaveInfo.js"  th:src="@{/js/fans/leaveInfo.js}"></script>
	<title>微手指</title>
</head>
<body>
<div class="myInfo">我的资料</div>
<div class="item">
	<div>姓名</div>
	<div class="right_div">
		<input type="text" placeholder="输入"  id="name" th:value="${fansInfo.name}"/>
	</div>
</div>
<hr />
<div class="item">
	<div>手机</div>
	<div  class="right_div">
		<input type="text" placeholder="输入" id="mobile" th:value="${fansInfo.mobile}"/>
	</div>
</div>
<hr />
<div class="item">
	<div>组织类型</div>
	<select id="orgType" onchange="changeChoice('orgType')">
		<option value="主机厂">主机厂</option>
		<option value="4S店">4S店</option>
	</select>
	<div th:class="${fansInfo.orgType}?'select-show': 'select-placeholder'" id="orgType_div" th:text="${fansInfo.orgType}?${fansInfo.orgType}: '选择&nbsp;>'">选择&nbsp;></div>
</div>
<hr />
<div class="item">
	<div>职位</div>
	<select id="orgPosition" onchange="changeChoice('orgPosition')" >
		<option value="店长">店长</option>
		<option value="销售主管">销售主管</option>
	</select>
	<div th:class="${fansInfo.orgPosition}?'select-show': 'select-placeholder'" id="orgPosition_div" th:text="${fansInfo.orgPosition}?${fansInfo.orgPosition}: '选择&nbsp;>'">选择&nbsp;></div>
</div>
<hr />
<div class="item">
	<div>服务品牌</div>
	<select id="orgBrand" onchange="changeChoice('orgBrand')">
		<option th:each="brand:${brands}" th:value="${brand.name}"  th:text="${brand.name}"></option>
	</select>
	<div th:class="${fansInfo.orgBrand}?'select-show': 'select-placeholder'" id="orgBrand_div" th:text="${fansInfo.orgPosition}?${fansInfo.orgPosition}: '选择&nbsp;>'">选择&nbsp;></div>
</div>
<div  th:class="${fansInfo.orgType eq '4S店' }? 'show-area':'hidden-area'">
<hr id="area_hr"  />
<div class="item" id="area_item" onclick="toAreaChoic()">
	<div>地区</div>
	<div class="item-area" id="orgArea">
		选择&nbsp;>
	</div>
</div>
<hr id="store_hr" />
<div class="item" id="store_item">
	<div>门店</div>
	<select id="orgStore" onchange="changeChoice('orgStore')">
		<option th:each="store:${stores}" th:value="${store.storeName}"  th:text="${store.storeName}"></option>
	</select>
	<div class="select-placeholder" id="orgStore_div">选择&nbsp;></div>
</div>
	</div>
<div class="save-btn" onclick="saveInfo()">保存</div>
</body>
</html>
