<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style"
		  content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="css/leaveInfo.css">
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"></script>
	<script type="application/javascript" src="js/leaveInfo.js"></script>
	<title>微手指</title>
</head>
<body>
<div class="myInfo">我的资料</div>
<div class="item">
	<div>姓名</div>
	<div class="right_div">
		<input type="text" placeholder="输入">
	</div>
</div>
<hr />
<div class="item">
	<div>手机</div>
	<div  class="right_div">
		<input type="text" placeholder="输入">
	</div>
</div>
<hr />
<div class="item">
	<div>组织类型</div>
	<select id="orgType" onchange="changeChoice('orgType')">
		<option value="0">4S店</option>
		<option value="1">主机厂</option>
	</select>
	<div class="select-placeholder" id="orgType_div">选择&nbsp;></div>
</div>
<hr />
<div class="item">
	<div>职位</div>
	<select id="orgDept" onchange="changeChoice('orgDept')">
		<option value="0">店长</option>
		<option value="1">销售主管</option>
	</select>
	<div class="select-placeholder" id="orgDept_div">选择&nbsp;></div>
</div>
<hr />
<div class="item">
	<div>服务品牌</div>
	<select id="orgBrand" onchange="changeChoice('orgBrand')">
		<option value="0">东风日产</option>
		<option value="1">广汽三菱</option>
	</select>
	<div class="select-placeholder" id="orgBrand_div">选择&nbsp;></div>
</div>
<hr />
<div class="item">
	<div>地区</div>
	<div class="item-area">
		选择&nbsp;>
	</div>
</div>
<hr />
<div class="item">
	<div>门店</div>
	<select id="orgStore" onchange="changeChoice('orgStore')">
		<option value="0">XX4s店1</option>
		<option value="1">XX4S店2</option>
	</select>
	<div class="select-placeholder" id="orgStore_div">选择&nbsp;></div>
</div>
<div class="save-btn">保存</div>
</body>
</html>
