<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
	<link rel="stylesheet" type="text/css" href="../../static/css/icons.min.css"  th:href="@{/css/icons.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/custom.css"  th:href="@{/css/custom.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/fans/subTag-select.css"  th:href="@{/css/fans/subTag-select.css}"/>
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"  th:src="@{/easyui/jquery.min.js}"></script>
	<script type="application/javascript" src="../../static/js/humane.min.js"  th:src="@{/js/humane.min.js}"></script>
	<script type="application/javascript" src="../../static/js/fans/subTag-brand.js"  th:src="@{/js/fans/subTag-brand.js}"></script>

<title>我要订阅</title>
</head>
<body >
<div class="title">服务类型</div>
<div class="context" id="context">
	<div  th:each="tag:${tags}" >
		<div class="item"  th:value="${tag.state}"  th:id="${tag.id}">
			<div th:text="${tag.name}"></div>
			<div class="icon-select"   ><span th:if="${tag.state eq 'select'}"><img th:src="@{/img/select_confirm.png}" class="img-icon"/></span></div>
		</div>
		<div class="line"></div>
	</div>
</div>
<div class="save-btn" onclick="getSelectValues()">确定</div>
</body>
</html>
