<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="../../static/css/fans/subTag-select.css">
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"></script>
	<script type="application/javascript" src="../../static/js/fans/templist.js"></script>
	<script type="application/javascript" src="../../static/js/fans/subTag-brand.js"></script>
  	<script id="tmpl-tag-group" type="text/tmpl">
	<div class="item" data-id={% id%} data-state={% state%} data-name={% name%}>
		<div>{% name%}</div>
			<div class="icon-select" style={%display%} id={% id%} >√</div>
	</div>
	<div class="line"></div>
	</script>
<title>我要订阅</title>
</head>
<body >
<div class="title">服务类型</div>
<div class="context" id="context">
	
</div>
<div class="save-btn" onclick="getSelectValues()">保存</div>
</body>
</html>
