<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="../../static/css/fans/subTag.css">
	<script type="application/javascript" src="../../static/easyui/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/fans/subTag.js"></script>

<title>我要订阅</title>
</head>
<body >
<div class="head">
<div class="head-left"> <img  src="dingyue.jpg" class="head-img"></div>
<div class="head-right">
<div class="head-item" >当前订阅</div>
<div class="head-item" id="select-tags"></div>
</div>
</div>
<div class="context">
	<div class="item" onclick="jumpChoosePg('dataType')">
		<div>数据类型</div>
		<div class="item-show" id="dataType"></div>
		<div>></div>
	</div>
	<div class="line"></div>
	<div class="item" onclick="jumpChoosePg('dataBrand')">
		<div>汽车品牌</div>
		<div class="item-show" id="brand"></div>
		<div>></div>
	</div>
	<div class="line"></div>
	<div class="item" onclick="jumpChoosePg('dataArea')">
		<div>关注区域</div>
		<div class="item-show" id="area"></div>
		<div>></div>
	</div>
	
</div>
<div class="save-btn">保存</div>
</body>
</html>
