.title{
	text-align:center;
	font-size:24px;
	margin:5px;
}
.part-title{
font-size:20px;
margin:20px 0px 10px 0px;
}
.tag-span{
font-size:20px;
margin:10px;

}
.tag-div{
height:20px; line-height:20px; padding:10px; 
}

.l-btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  font-size: 1px;
}
.btnGroup{
	text-align:center;
	background:#c0c0c0;
	padding:10px;
border-radius:5px;
}
.container{

 border: 1px solid #95B8E7;
 padding:20px;
}