<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>编辑文章</title>
	<link rel="stylesheet" type="text/css"
		  href="../../static/easyui/themes/default/easyui.css" th:href="@{/easyui/themes/default/easyui.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/easyui/themes/color.css" th:href="@{/easyui/themes/color.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/jquery.tag-group.css" th:href="@{/css/jquery.tag-group.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/article/editArticle.css" th:href="@{/css/article/editArticle.css}"/>
	<script type="text/javascript" src="../../static/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
	<script type="text/javascript" src="../../static/easyui/jquery.easyui.min.js"
			th:src="@{/easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" src="../../static/easyui/easyui-lang-zh_CN.js"
			th:src="@{/easyui/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" src="../../static/js/jquery.tag-group.js" th:src="@{/js/jquery.tag-group.js}"></script>
	<script type="text/javascript" src="../../static/js/autoCompleted.js" th:src="@{/js/autoCompleted.js}"></script>
	<script type="text/javascript" src="../../static/js/article/editArticle.js" th:src="@{/js/article/editArticle.js}"></script>
	 <script type="text/javascript" >
	 $(function(){
	 initEvent();
	 });
	 function initEvent(){
		 $('#linkText').textbox('enable');
		 $('#cfmBtn').switchbutton({
            checked: true,
            onChange: function(checked){
                if(checked){
					$('#linkText').textbox('enable'); 
				}else{
					$('#linkText').textbox('disable');
					$('#linkText').textbox('setValue','');
				}
            }
        })
		}

	function setGenTag(){

	}
	 </script>
</head>
<body>
<div class="title">关联兴趣点</div>
<div class="container">
	<input type="text" id="articleId" th:value="${id}"/>
	<div id="search"  class="taggroup-div">
		<input type="text"
			   id="search-text" name="search-text" placeholder="兴趣点" class="selectInput search-text"/>
	</div>
	<div style="margin:20px 0px;" class="taggroup-next-div">
		<span id="myTagGroup" class="taggroup"></span>
		<a href="#" class="easyui-linkbutton c4" style="width:80px;" onclick="setCommon()">设为常用</a>
	</div>
	<!--<div style="margin:20px 0px;">-->
	<!--&lt;!&ndash;<span id="myTagGroup"class="taggroup"></span>&ndash;&gt;-->
	 <!--<a href="#" class="easyui-linkbutton c4" style="width:80px;" onclick="setGenTag">设为常用</a>-->
	<!--</div>-->
	 <div id="p" class="easyui-panel" title="常用兴趣点" style="width:100%;padding:10px;">
        <div class="tag-div " th:each="tagContainer:${tagContainers}">
			<input type="radio" name="gen-radio" value="1001" onclick="selectTags(this)"/>
			<span class="tag-span" th:each="tag:${tagContainer.tags}" th:value="${tag.id}" th:text="${tag.name}">杭州</span>
			<input class="hiddenId" type="hidden" th:value="${tagContainer.id}"/>
			<a class="easyui-linkbutton" onclick="removeTags(this)" style="font-size:20px;" data-options="plain:true,iconCls:'icon-cancel'">
			</a></div>
		<!--<div class="tag-div "><input type="radio" name="gen-radio" value="1002"/><span class="tag-span">湖南</span><span class="tag-span">东风日产</span><span class="tag-span">销量B</span><a class="easyui-linkbutton" style="font-size:20px;" data-options="plain:true,iconCls:'icon-cancel'"></a></div>-->
		<!--<div class="tag-div "><input type="radio" name="gen-radio" value="1003"/><span class="tag-span">山东</span><span class="tag-span">上海通用</span><span class="tag-span">销量C</span><a class="easyui-linkbutton" style="font-size:20px;" data-options="plain:true,iconCls:'icon-cancel'"></a></div>-->
    </div>
	<div class="part-title">关注提示语</div>
	 <input id="tip" class="easyui-textbox" data-options="multiline:true"  style="width:100%;height:300px"/>
	 <div style="margin:10px 0px;">
	 <input class="easyui-switchbutton" id="cfmBtn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input class="easyui-textbox" style="width:50%;height:30px;" id="linkText" data-options="disabled:true,prompt:'请输入完整链接'"  />
	 </div>
	 <div class="btnGroup"> <span style="margin-right:30px;"><a href="#" class="easyui-linkbutton" onclick="save()" style="width:60px">保存</a></span><span style="margin-left:30px;"> <a href="#" class="easyui-linkbutton" onclick="cancelSave()" style="width:60px" >返回</a></span></div>
    </div>

	
</body>
</html>